root = true

[*.php]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true

[*.{js,css,md}]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
